<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      <span class="ion-float-left ion-padding"> Sondages</span>
      <ion-icon
        name="add-circle-outline"
        class="ion-float-right ion-padding"
      ></ion-icon>

      <!--  <div class="ion-text-right">

      </div> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="survey" scroll="false">
  <p>UI Du planning</p>
  <div class="survey__context">
    <h4 class="survey__context--label">Le ontext</h4>
    <p class="survey__context--text">
      Nous cherchons à rendre le visuel du planning plus agréable, nous
      voudrions votre avis pour choisir entre c’est 2 boutons pour confirmer une
      action : Lequels des 2 boutons préferez vous ?
    </p>
  </div>
  <div class="survey__timing">
    <p>
      Il vous reste : 21 jours 3 heures et 25 minutes pour nous partager votre
      avis !
    </p>
  </div>
  <!--  -->

  <ion-grid class="survey__cards">
    <ion-row>
      <ion-col size="12" size-ms="8" class="text-center">
        <!--  -->

        <ion-card>
          <ion-card-header class="ion-no-padding">
            <ion-card-title> </ion-card-title>
          </ion-card-header>
          <ion-img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
            class="img"
          >
          </ion-img>
          <ion-card-content class="">
            <p>
              1 de participation au sondage de participation au sondage de
              participation au sondage
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--  -->

      <!--  -->
      <ion-col class="card">
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <ion-card-title> </ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content ion-no-padding">
            <div class="ion-text-center">
              <p>
                de participation au sondage de participation au sondage de
                participation au sondage
              </p>
            </div>
            <ion-img
              src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              class="img"
            >
            </ion-img>
          </ion-card-content>
        </ion-card>
        <div class="card__option">option1</div>
        <!--  -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--  -->

  <ion-button class="survey__valid">Je valide mon vote</ion-button>

  <!--  -->
  <div slot="fixed"></div>
</ion-content>
