<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sondages"
      ><label>
        <ion-img
          class="title-image"
          src="../../assets/Task List Edit.png"
          width="50"
          height="50"
        ></ion-img
      ></label>

      <ion-label>Production </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sondages">
      <ion-label>Recette </ion-label>
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="avis">
      <ion-label>Alertes </ion-label>
      <ion-icon name="alert-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="avis">
      <ion-label>Menu </ion-label>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
