<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-text-center">
    <ion-tab-button tab="sondages" class="tabFlext">
      <ion-icon name="document-text-outline" class="tabFlex__icon"></ion-icon>
      <ion-label class="galaxyFlod">Production </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sondages" class="tabFlext">
      <ion-label class="galaxyFlod">Recette </ion-label>
      <ion-icon name="restaurant-outline" class="tabFlex__icon"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="avis" class="tabFlext">
      <ion-label class="galaxyFlod">Alertes </ion-label>
      <ion-icon name="warning-outline" class="tabFlex__icon"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="avis" class="tabFlext">
      <ion-label class="galaxyFlod">Menu </ion-label>
      <ion-icon
        name="ellipsis-horizontal-outline"
        class="tabFlex__icon"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
