.like {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  &__like {
    background: var(--ion-color-primary);
  }
}
.unlike {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.likeContainer {
  display: flex;
  justify-content: center;
  &__like {
    //margin: 1rem;
    margin-right: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__unlike {
    margin-left: 2rem;
    //margin: 1rem;
  }
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  stroke-width: 0;
  stroke: red;
  //fill: currentColor;
  //stroke: red;

  fill: rgb(255, 255, 255);
  //fill: rgb(254, 215, 99);

  margin: 2px;
  &__star {
    fill: rgb(254, 215, 99);
    &:hover {
      fill: rgb(254, 215, 99);
    }
  }
}

.textInput {
  min-height: 5rem;
  background: rgb(255, 255, 255);
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.galaxyFlod {
  @media only screen and (width: 320px) {
    display: none;
    opacity: 0;
  }
}

body {
  --ion-background-color: #eeeeee;
  /*  font-family: "Inter";
  font-style: normal; */
  font-size: 0.9rem;
  //line-height: 2.3rem;
  color: rgba($color: #000000, $alpha: 0.6);
  @media only screen and (min-width: 280px) {
    max-height: 100%;
    //font-size: 0.5rem;
  }

  @media only screen and (min-width: 320px) {
    max-height: 100%;
  }

  @media only screen and (min-width: 390px) {
    max-height: 89vh;
  }
  @media only screen and (min-width: 414px) {
    max-height: 84vh;
  }
  @media only screen and (min-width: 412px) {
    max-height: 83vh;
  }
  @media only screen and (min-width: 540px) {
    max-height: 100vh;
  }
  @media only screen and (min-width: 768px) {
    max-height: 73vh;
  }
  @media only screen and (min-width: 820px) {
    max-height: 64%;
  }
  @media only screen and (min-width: 912px) {
    max-height: 55vh;
    max-width: 96%;
  }
  @media only screen and (min-width: 1024px) {
    max-height: 100%;
  }
  @media only screen and (min-width: 1280px) {
    max-height: 90%;
    max-width: 67%;
  }
}

.tabFlext {
  display: flex;
  flex-direction: row;
  //font-size: 0.2rem;
  &__icon {
    width: 1px;
    height: 1px;
  }
}
