.survey {
  --ion-background-color: rgb(237, 234, 234);
  &__input {
    display: flex;
    flex-direction: column;
  }
  &__context {
    padding: 1rem;
    margin-bottom: 2rem;
    &--label {
    }
    &--text {
      min-height: 5rem;
      background: white;
      border-radius: 0.4rem;
      padding: 0.5rem;
    }
  }
  &__header {
    background: white;
    margin: 2rem 1rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.4rem;
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &__timing {
    background: var(--ion-color-primary);
    padding: 0.1rem 0.2rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
    &--span {
      font-weight: 400;
      font-size: 1rem;
    }
  }
  &__valide {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.img {
  width: "100%";
  height: 10rem;
  object-fit: fill;
  overflow: hidden;
  //border-radius: 0.2rem;
  //margin: 1rem;
}

.card-content {
  min-height: 7rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  &__text {
  }
}

.card {
  position: relative;
  &__option {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 0.4rem;
    padding: 0.7rem 2rem;
    text-transform: capitalize;
    // z-index: 100;
    &--1 {
      background: var(--ion-color-primary);
    }
    &--2 {
      background: var(--ion-color-medium-tint);
    }
  }
}

.btnValid {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  &__btn {
    border-radius: 0.2rem;
    //background: #ffc959;
  }
}

.headerIcon {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.headerTitle {
  background-color: white;
  //padding: 4rem 0;
  //height: 5rem;
}
