<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      <span class="ion-float-left ion-padding"> Avis</span>
      <ion-icon
        name="add-circle-outline"
        class="ion-float-right ion-padding"
      ></ion-icon>

      <!--  <div class="ion-text-right">

      </div> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  -->

  <ion-grid class="">
    <ion-row>
      <ion-col>
        <p>Aimez vous utiliser l'application WellEat</p>
        <ion-img
          class=""
          width="20"
          height="20"
          src="../../../assets/comme.svg"
        ></ion-img>
        <ion-img
          class="icon__unlike"
          src="../../../assets/ne-pas-aimer.svg"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Soyez franc et donnez nous la note que vous attribuez à WellEat</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Que vous apporte au quotidien l’application Welleat ?</p>
        <p>
          Note pour expliquer ce que vous apporte au quotidien l’application...
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Avez-vous une remarque à faire sur l’application Welleat ?</p>
        <p>
          Note pour expliquer ce qui vous plaît ou ne vous plaît pas dans
          l’application...
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Avez-vous une idée qui pourrez faciliter votre quotidien ?</p>
        <p>Note pour expliquer votre idée...</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Je souhaite être appeler pour échanger sur mon avis __ __ __ __ __
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--  -->

  <ion-button class="survey__valid">Je valide mon vote</ion-button>

  <!--  -->
</ion-content>
